body{
    background-color: aqua;
    padding: 0;
    margin: 0;
    font-family: cursive;
}
.navbar ul{
    float: right;
}
.navbar::after{
    content: "";
    display: table;
    clear: both;
}
.navbar li{
    list-style-type: none;
    display: inline;
}
.navbar li a{
    text-decoration: none;
    padding: 10px 30px;
    font-size: 30px;

}

.setting{
    margin-left:200px;
    font-size: 30px;
}